.navbar-light .navbar-nav .nav-link {
    color: black;
    
}
.navbar-light .navbar-nav{
    
    justify-content: space-between;
}
a:hover{
    color:black !important;
    text-decoration: none !important;
}
a{
    color:black !important;
}
.nav-link:hover{
    text-decoration: none !important;
}
.active{
    color:#faecc4 !important;
    text-decoration: none !important;
    border-bottom: 0.5px solid #ebc354 !important;
    padding-bottom: 0.4em !important;
}
.active:hover{
    text-decoration: none !important;
}
.navlink{
    font-size: larger;
    /* border-bottom: 0.5px solid white; */
    margin-right: 1em;
}