.navbar-light .navbar-nav .nav-link {
    color: black;
    
}
.navbar-light .navbar-nav{
    
    justify-content: space-between;
}
a:hover{
    color:black !important;
    text-decoration: none !important;
}
a{
    color:black ;
}
.nav-link:hover{
    text-decoration: none !important;
}
.active1{
    text-decoration: none ;
    border-bottom: 0.5px solid #ebc354 ;
    padding-bottom: 0.4em ;
    color:#ebc354;
}
.active1:hover{
    text-decoration: none !important;
}
.navlink{
    font-size: larger;
    /* border-bottom: 0.5px solid white; */
    margin-right: 1em;
}